/* SELECTOR DE ELEMENTO */
h1{
    color: green;
    text-transform: uppercase;
    text-align: center;
    font-size: 4REM;
}

/* SELECTOR DE CLASE  */
.seccion2{

    color:red;
    text-transform: uppercase;
    text-align: center;
    font-size: 5rem;
}


/* SELECTOR DE ID  */
#seccion3{
    color: blue;
    text-transform: uppercase;
    text-align: center;
    font-size: 6rem;
}

/* SELECTOR DE ATRIBUTO  */
[src="../img/Logos-oficiales.png" alt="empleate"]

 {
    margin: 500px;
}


/* SELECTOR DE CADENA DESCENDENTE  */
.seccion5 h4 {
    color: pink;
    text-transform: uppercase;
    text-align: center;
    font-size: 6rem
}


/* SELECTOR DE TODOS LOS HIJOS */
.seccion6 >h5{
    color: yellow;
    text-transform: uppercase;
    text-align: center;
    font-size: 4rem
}


/* SELECTOR MULTIPLE  */
.seccion7 h3,
.seccion7 h6 {
    color: purple;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
}

.contenedorAmarillo{
    background-color: yellow;
    height: 300px;
    margin: 0 auto;
}


.contenedorAzul{
    background-color: blue;
    padding: 100px;
    max-width: 50%;
    margin: 0 auto;
}